:host {
    flex-grow: 2;
}

@import "../../../styles.scss"; 
.messages {
    max-height: 250px;
    min-height: 250px;
    height: 250px;
    overflow-y: scroll;
    padding: 0.2rem;
    border: 1px solid $primary;
}

.write-area {
    position: relative;
    bottom: 0px;
    width: 100%;

    button {
        margin-left: 1rem;
    }
}