:host {
    // find a way for padding top (aspect-ratio) to work
    width: 100%;
    max-height: 300px;
    
    
    &:hover {
        z-index: 100;
    }
}


::ng-deep mat-card.mat-card {
  
  min-height: 100px;
  border-radius: 1.5rem;


    z-index: 1;
}


::ng-deep mat-card.card {

    &:hover {
        cursor: pointer;
        z-index: 100;
    }
}