<mat-card class="{{deck ? 'deck' : 'card'}}">
    <ng-container *ngIf="!deck">
        <mat-card-title> {{ card.title}} </mat-card-title>
        <!--<img src="assets/placeholder.png" />-->
        <div class="image" style="background-image: url('../../assets/placeholder.png');"></div>
        <mat-card-content>
            {{ card.descr }}
        </mat-card-content>
        <span style="flex: 1 1 auto;"></span>
        <mat-card-actions>
            <p>{{ card.atk }}</p>
            <!--<span style="flex: 1 1 auto;">
            </span>-->
            <button *ngIf="playable" mat-raised-button (click)="cardActionClicked(card)">{{cardActionText}}</button>
            <!--<span style="flex: 1 1 auto;"></span>-->
            <p>{{ card.def }}</p>
        </mat-card-actions>
    </ng-container>
    <div class="blank-card" *ngIf="deck"></div>
</mat-card>