<mat-card>
    <mat-card-header>
        <h1>Lobby</h1>
    </mat-card-header>
    <mat-card-content style=" display: flex;">


        <app-chat></app-chat>
        <div style="flex-grow: 1; display: flex; flex-direction: column; flex-basis: 100px;">
            <app-games [list]="games" title="Games" key="gameId"></app-games>
            <app-games [list]="users" title="Users" key="string"></app-games>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions style="display: flex; align-items: center;">
        <!--<mat-radio-group aria-label="Select your team" color="primary" style="display: flex;flex-direction: column;"
                [(ngModel)]="teamSelection" required>Team
                <mat-radio-button value="A">A</mat-radio-button>
                <mat-radio-button color="accent" value="B">B</mat-radio-button>
            </mat-radio-group>-->
        <span style="flex: 1 1 auto;"></span>
        <div>
            <mat-slide-toggle color="primary" [(ngModel)]="privateGame">Private?
            </mat-slide-toggle>
        </div>
        <span style="flex: 2 1 auto;"></span>
        <button mat-stroked-button color="accent" (click)="createGame()">Create
            Game</button>
        <div style="height: 3rem; padding: 2px; margin-left: 0.5rem; margin-right: 1rem;">
            <mat-divider vertical="true" style="height:100%;"></mat-divider>
        </div>
        <mat-form-field color="primary">
            <mat-label>Game-ID</mat-label>
            <input matInput autocomplete="false" name="gameId" [(ngModel)]="gameId" required>
            <!--<mat-hint>The Game-ID is optional!</mat-hint>-->
        </mat-form-field>
        <span style="flex: 2 1 auto;"></span>
        <button mat-flat-button color="primary" (click)="joinGame()" [disabled]="!gameId">Join Game</button>
    </mat-card-actions>
</mat-card>