:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    
}

.field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow:scroll;
}

footer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    
}


.my-area {
    width: 100%;
    overflow: scroll;

    .my-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.row.one {
    overflow-y: scroll;
    justify-content: space-between;
    aside {
        min-width: 200px;
    }
    .header-center {
        overflow-x: auto;
        max-width: 50vw;
    }
}

.row.two {
    overflow-y: scroll;
    justify-content: space-between;
    align-items: stretch;

    aside {
        min-width: 200px;
    }

    .center {
        overflow-x: auto;
        max-width: 50vw;
    }
}