<div style="height: 100%;display: flex; justify-content: center; align-items: center">
    <mat-card>
        <mat-card-header>
            <h1> Welcome to the Roundnet Card Game </h1>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%">
                    <mat-label>Name</mat-label>
                    <input matInput autocomplete=false name="name" [(ngModel)]="name"
                        (keyup)="$event.keyCode == 13 && login()">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
        </mat-card-content>
    </mat-card>
</div>