
.grid {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto 1fr auto;
    
    height: 100%;
    width: 100%;
  }

header,
aside,
.main,
footer {

}

mat-sidenav-container {
  background-color: unset;
}


::ng-deep .mat-sidenav-content.mat-drawer-content {  
  align-items: center;
  justify-content: center;
}

::ng-deep mat-sidenav {
  width: 300px;
}


.main {
    grid-column: 1 / 4;
}

header, footer {
  grid-column: 1 / 4;
}

.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

