.grid {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
    height: 100%;
    width: 100%;
  }

header,
aside,
.main,
footer {

}
.main {
    grid-column: 1 / 4;
}

header, footer {
  grid-column: 1 / 4;
}

.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

